* {
    outline: none;
    text-decoration: none;
}
.wrapper_header{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 84px;
}
.header_logo_text::before{
    content: url(/img/icon/Ellipse.png);
    color: black;
    width: 19.19px;
    height: 19.21px;
}
.header_nav{
    display: flex;
    flex-wrap: wrap;
}
.header_logo_text{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.14em;
}
nav, ul{
    display: flex;
    flex-wrap: nowrap;

}
.nav_1{
    padding-left: 278px;
}
.nav_2{
    padding-left: 266px;
}
li a{
    color: black;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    padding-left: 65px;
}
.nav_icon{
    padding-left: 23px;
}



























.wrapper_intro{
    max-width: 100%;
}
.wrapper_intro_content{
    max-width: 1010px;
    margin: 0 auto;
}


.catalog_name_1{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 60px;
}
.catalog_name_2{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
}
.catalog_info{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
}
.catalog_btn{
    width: 205px;
    height: 64px;
    background-color: rgba(68, 66, 64, 1);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    
}




.wrapper_intro{
    position: relative;
}
.Ellipse_bg{
    position: absolute;
    top:0px;
    left: 50%;
    max-height: 944px;
    
}