* {
    outline: none;
    text-decoration: none;
}
.wrapper_header{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 84px;
}
.header_logo_text::before{
    content: url(/img/icon/Ellipse.png);
    color: black;
    width: 19.19px;
    height: 19.21px;
}
.header_nav{
    display: flex;
    flex-wrap: wrap;
}
.header_logo_text{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.14em;
}
nav, ul{
    display: flex;
    flex-wrap: nowrap;

}
.nav_1{
    padding-left: 278px;
}
.nav_2{
    padding-left: 266px;
}
li a{
    color: black;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    padding-left: 65px;
}
.nav_icon{
    padding-left: 23px;
}



























.wrapper_intro{
    max-width: 100%;
    
}
.catalog_main{
    padding-top: 236px;
}
.wrapper_intro_content{
    max-width: 1077px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}


.catalog_name_1{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 60px;
}
.catalog_name_1::before{
    content: "";
    display:block;
    max-width: 50px;
    height: 0px;
    background-color: black;
    transform: translate(-60px,34px);
    border: 1px solid #8B8371;

}
.catalog_name_2{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
}
.catalog_info{
    font-family: Roboto;
    padding-top: 16px;
    padding-bottom: 39px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
}
.catalog_btn{
    width: 205px;
    height: 64px;
    background-color: rgba(68, 66, 64, 1);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    
}




.wrapper_intro{
    position: relative;
}
.content_watch{
    position: relative;
}
.Ellipse_bg{
    max-height: 944px;
    position: relative;
}
.watch_img{
    transform: translate(196px);
    position: absolute;
    width: 502px;
    top:0;
    left: 0;
}
.watch_price{
    transform: translate(95px, -611px);
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;  
}
.watch_preference{
    font-family: Prata;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    transform: translate(647px,-157px);
    line-height: 22px;  
}
.watch_price::after{
    content: "";
    display:block;
    max-width: 50px;
    height: 0px;
    background-color: black;
    transform: translate(80px,-11px);
    border: 1px solid #8B8371;
}

.watch_preference::before{
    content: "";
    display:block;
    max-width: 50px;
    height: 0px;
    background-color: black;
    transform: translate(-66px,12px);
    border: 1px solid #8B8371;
}


























.wrapper_pop_model{
    padding-top: 20px;
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    
}
.model_cards{
    text-align: start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 86px;
}
.watch_card{
    position: relative;
    width: 370px;
    height: 467px;
    background-color:#FDFDFB;
}
.Ellipse_popular_model{
    position: absolute;
    max-height:313px;
    top: 78px;
    left: 28px;
    z-index: 1;
}
.watch-pic{
    transform: translate(19px, -13px);
    z-index: 9;
}
.text_1{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 43px;
}
.see_more{
    padding-bottom: 11px;
    position: relative;
    text-align: end;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.see_more_cot{
    padding-bottom: 25px;
}
.line_1{
    height: 2px;
    width: 101px;
    background: rgb(153, 151, 151);
    float: right;
}
.text_3{
    padding-bottom: 1px;
}
.card_text_name{
    padding: 40px 0px 0px 36px;
}
.text_2_before{
    padding-left: 88px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
}
.text_2_before::before{
    content: "";
    display:block;
    max-width: 30px;
    height: 0px;
    background-color: black;
    transform: translate(-50px,12px);
    border: 1px solid #8B8371;
}
































.wrapper_true_quality{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 519px;
    margin: 0 auto;
}
.banner_1{
    z-index: -1;
    top:0;
    left: 0;
    position: absolute;
    width: 38%;
    height: 100%;
    background: #F7F5EF;;
}
.banner_2{
    z-index: -1;
    top:0;
    right: 0;
    position: absolute;
    width: 62%;
    height: 100%;
    background: #FDFDFB;;
}
.quality_content{
    margin: 0 auto;
    width: 967px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;

}
.catalog_name_2{
    padding-bottom: 24px;
    text-align: start;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 43px;
}
.catalog_btn_2{
    border:none;
    width: 205px;
    height: 64px;
    background-color: #D4B098;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}














.quality_content{
    width: 1171px;
}
.news-pic{
    width:649px ;
    display: flex;
    justify-content: space-evenly;
}
.news-pic1{
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
.icons{
    padding-top: 79px;
}
.icons img:nth-child(2){
    padding-left: 10px;
    padding-right: 10px;
}
















footer{
    background-color:rgb(68, 66, 64);
}

.footer_content{
    display: flex;
    flex-direction: column;
}
.footer_text{
    width: 966px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 67px 0px 67px 0px;
}
.footer_text ul{
    flex-direction: column;
}

.footer_li li:nth-child(2){
    padding-bottom:15px;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}
.footer_li li:nth-child(3){
    padding-bottom:15px;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}
.footer_li li:nth-child(4){
    padding-bottom:15px;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}
.footer_name{
    padding-bottom: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.07em;
    text-transform: uppercase;

color: #FFFFFF;
}
.footer_li_text{
    color: white;
}